/* Main-Color: light green or beige
Color for buttons: warm orange or pastel color 
Font: Roboto or Merriweather

Layout: Header with title
grid layout for recipes
cards rounded corners */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-family: Roboto;
    scroll-behavior: smooth;
}

body{
    background-color: beige;
}

body, html{
    margin: 0;
    padding: 0;
}

h2{
    font-weight: 400;
}

h3{
    font-size: 100%;
}

ul{
    text-align: left;
    list-style-position: inside;
}

button{
    background-color: orange;
    border-radius: 50px;
    font-size: medium;
    text-align: center;
    padding: 2%;
    margin: 2%;
    cursor: pointer;
    position: relative;
}

button:hover{
    background-color: rgb(210, 161, 69);
}
img{
    max-width: 100%;
}

.navBar{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 60;
    background-color: #333;
}
.navBar a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navBar:hover{
    background-color: #FF8A7A;
}

.title{
    margin: auto;
    position: relative;
    text-align: center;
}

.textBox{
    height: 60px;
}

@media (width > 600px){

.container{
    margin: auto;
    width: 100%;
    overflow: auto;
    display: flex;
}

.boxes {
    width: 33.33%;
    float:left;
    text-align: center;
    border: 0.1dvw solid black;
    margin: 0.5%;
}

.boxes p{
    margin: auto;
    padding: 1%;
    text-align: center;
    overflow: hidden;
}

.recipes, #recipes1{
    display: none;
}

.recipes{
    width: 40%;
    position: relative;
    margin: auto;
}

}

@media (width <= 600px){

.container{
    margin: auto;
    width: 100%;
}

.boxes {
    width: 100%;
    text-align: center;
    border: 0.1dvw solid black;
    margin: 0.5%;
}

.boxes p{
    margin: auto;
    padding: 1%;
    text-align: center;
    overflow: hidden;
}

.recipes, #recipes1{
    display: none;
}

.recipes{
    width: 40%;
    position: relative;
    margin: auto;
}
}